@import '../common/colors';
@import '../common/typography';

.navigation {
  padding: 0 28px;
  display: flex;
  margin-bottom: 20px;
}

.brand {
  display: none;
}

.item {
  display: inline-block;
  text-decoration: none;
  padding: 16px 32px;
  color: var(--colorBlack);
}

.logo {
  font-size: var(--fontHuge);
}

.active {
  color: var(--colorDodgerBlue);
}

.hamburger {
  display: none;
}

@media (max-width: 767px) {
  .navigation-container {
    display: flex;
  }

  .hamburger {
    display: inline-block;
    position: absolute;
    top: 6px;
    right: 30px;
    height: 35px;
    width: 35px;
    font-size: 30px;
    border: none;
    background-color: var(--colorWhite);
    outline: none;
  }

  .navigation {
    flex-direction: column;
    padding: 0;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: var(--colorAthensGray);
    border: none;
    overflow-x: hidden;
    white-space: nowrap;
    padding-top: 25px;
    transition: 0.5s;
  }

  .open {
    composes: navigation;
    border-right: 1px solid var(--green-0);
    width: 250px;
  }


  .item {
    color: var(--green-0);
  }

  .active {
    color: var(--colorDodgerBlue);
  }

  .brand {
    display: block;
  }
}

@media screen and (max-height: 450px) {
    .navigation {padding-top: 15px;}
    .item {font-size: 18px;}
}
